/* Importa el tema de Angular Material */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

html, body {
  height: 100%;
}